<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651721047788-i11pp8vblsce1ic80t27k3gm0ua2f2iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651721047788-i11pp8vblsce1ic80t27k3gm0ua2f2iu</string>
	<key>API_KEY</key>
	<string>AIzaSyB0S03rIsGDXnPwK3L_Y92lu1ofEtt1oVw</string>
	<key>GCM_SENDER_ID</key>
	<string>651721047788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ohoworks.ohoWorksApp</string>
	<key>PROJECT_ID</key>
	<string>ohoworks-d7791</string>
	<key>STORAGE_BUCKET</key>
	<string>ohoworks-d7791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651721047788:ios:8132ebc43ea12ee07d2fc9</string>
</dict>
</plist>