<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ohoworks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A2DD241950C5B4216D807629683B32C04486306</string>
				<key>dateExpires</key>
				<string>18/01/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraAIDenoiseExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraDav1dExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraJNDExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>agora_rtc_engine.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>background_fetch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ext_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_chat_bubble.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_contact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>multipart_request.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A2DD241950C5B4216D807629683B32C04486306</string>
						<key>dateExpires</key>
						<string>18/01/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6JW475FKP7</string>
						<key>name</key>
						<string>Desi Valli</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6JW475FKP7.edu.tricycle.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:tricycleai.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6JW475FKP7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9a25f3d9-be7b-455d-92e7-a1e5b54fe9b4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: edu.tricycle.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6JW475FKP7</string>
				<key>name</key>
				<string>Desi Valli</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
